@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/Satoshi-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/Satoshi-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/Satoshi-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "satoshi";
  src: url("../assets/fonts/Satoshi-Black.woff2");
  font-weight: 900;
}

/* RESET THE DEFAULT STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFINE CUSTOM PROPERTIES */
:root {
  /* define shades of grey */
  --grey-25: #fcfcfc;
  --grey-50: #fafafa;
  --grey-100: #f4f4f5;
  --grey-200: #e4e4e7;
  --grey-300: #d1d1d6;
  --grey-400: #a0a0ab;
  --grey-500: #70707b;
  --grey-600: #51525c;
  --grey-700: #3f3f46;
  --grey-800: #26272b;
  --grey-900: #18181b;

  /* define font-family and font-weight */
  --ff-satoshi: "satoshi";
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  /* define font-size */
  --heading-large: 10.4rem;
  --heading-medium: 6.4rem;
  --heading-regular: 5.2rem;

  --heading-two: 3.2rem;
  --heading-two-medium: 4rem;

  --heading-three: 2.4rem;

  --font-extra-large: 2rem;
  --font-large: 1.8rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
}
html {
  font-size: 62.5%; /* equivalent to 10px */
}
body {
  font-family: var(--ff-satoshi);
  font-size: var(--font-large);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--grey-500);
}
img {
  width: 100%;
}

/* Generec Rules */
.btn {
  background-color: var(--grey-900);
  color: var(--grey-25);
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
}
.container {
  padding: 0 2rem;
}

/* HEADER SECTION STYLE START */

header {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}
.header-mobile {
  display: none;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  color: var(--grey-25);
}
.main-nav .logo {
  font-size: var(--font-extra-large);
  font-weight: var(--fw-black);
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.main-nav .logo .logo-icon {
  line-height: 0;
}
.main-nav .btn-hamburger {
  display: none;
}
.main-nav .nav-items {
  list-style-type: none;
  display: flex;
  gap: 2.6rem;
  font-size: var(--font-small);
}
.main-nav .nav-items a {
  text-decoration: none;
  color: var(--grey-25);
}
.main-nav .btn-cta {
  padding: 1.6rem 1.8rem;
  font-size: var(--font-large);
  font-weight: var(--fw-medium);
  color: var(--grey-900);
  background-color: var(--grey-25);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
/* TABLET VERSION - HEADER STYLE */
@media screen and (max-width: 1024px) {
  header {
    max-width: 868px;
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  header {
    max-width: 868px;
    padding: 0 2rem;
  }
}
/* MOBILE VERSION */
@media screen and (max-width: 768px) {
  header.close {
    display: none;
  }
  header .main-nav .nav-items {
    display: none;
  }
  header .main-nav .btn-cta {
    display: none;
  }
  .main-nav .btn-hamburger {
    display: block;
  }
  .header-mobile.show {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .header-mobile.show::after {
    content: "";
    background-color: var(--grey-25);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .header-mobile.show .main-nav {
    display: block;
    color: var(--grey-900);
    padding: 2rem;
  }
  .header-mobile.show .main-nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-mobile.show .nav-items {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 3.2rem 0;
  }
  .header-mobile.show .nav-items li {
    align-self: center;
  }
  .header-mobile.show .main-nav a {
    color: var(--grey-500);
  }
  .header-mobile.show .main-nav a:active,
  .header-mobile.show .main-nav a:focus {
    color: var(--grey-900);
    font-weight: var(--fw-medium);
  }
  .header-mobile.show .btn-cta {
    background-color: var(--grey-900);
    color: var(--grey-25);
    display: block;
    margin: 0 auto;
    font-size: var(--font-medium);
    padding: 1rem 1.8rem;
    border-radius: 10px;
  }
}

/* HEADER SECTION STYLE END */

/* HEREO SECTION STYLE START */
.hero {
  background-image: url("../assets/hero/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;

  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;

  display: flex;
  align-items: flex-end;
  height: 100vh;
}
.hero::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 40%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero::after {
  content: "";
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero .hero-block {
  z-index: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.hero-text-block {
  display: flex;
}
.hero h1 {
  font-size: var(--heading-large);
  color: var(--grey-25);
  font-weight: var(--fw-regular);
  line-height: 1;
  position: relative;
}
.hero .arrow-down {
  align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 0;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.hero .hero-image-gallery {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 15px;
}
.hero .gallery-image {
  width: 180px;
  line-height: 0;
}
.hero .gallery-image img {
  width: 100%;
}

/* TABLET VERSION - HERO SECTION STYLE */
@media screen and (max-width: 1024px) {
  .hero .hero-block {
    max-width: 868px;
    padding: 0;
  }
  .hero-text-block {
    gap: 2rem;
  }
  .hero-text-block h1 {
    font-size: var(--heading-regular);
    line-height: 1.3;
  }
}
@media screen and (max-width: 900px) {
  .hero .hero-block {
    padding: 0 2rem;
  }
}
/* MOBILE VERSION - HERO SECTION */
@media screen and (max-width: 768px) {
  .hero::before {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .hero .hero-image-gallery {
    display: none;
  }
  .hero-text-block {
    flex-direction: column;
  }
  .hero-text-block .arrow-down {
    align-self: flex-start;
  }
}
/* HERO SECTION STYLE END */

/* COMMITMENT SECTION STYLE */
.commitment-team {
  padding: 6rem 0;
}
.commitment-team h2 {
  font-size: var(--heading-two);
  color: var(--grey-900);
  font-weight: var(--fw-regular);
}
.commitment-team .btn {
  margin: 2.4rem 0;
}
.commitment-team p {
  font-size: 2rem;
}
.commitment-team p:first-of-type {
  margin-bottom: 3.5rem;
}
.commitments {
  padding-top: 5.5rem;
}
.commitments article {
  text-align: center;
}
.commitments article h3 {
  font-size: var(--heading-three);
  font-weight: var(--fw-medium);
  color: var(--grey-900);
  margin-top: 2rem;
}
.commitments article p {
  font-size: var(--font-medium);
  color: var(--grey-500);
  margin-top: 0.5rem;
}
/* COMMITMENT SECTION STYLE - TABLET VERSION */
@media screen and (min-width: 768px) {
  .container {
    max-width: 868px;
    margin: 0 auto;
  }
  .commitment-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .commitment-team h2 {
    font-size: var(--heading-two-medium);
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }
  .commitments {
    display: grid;
    grid-template-columns: 9fr 10fr 12fr;
    gap: 3.5rem;
    padding-bottom: 2.5rem;
  }
  .commitments article {
    text-align: left;
  }
  .commitments article:nth-child(2) {
    position: relative;
    top: 11rem;
  }
  .commitments article h3 {
    line-height: 1.2;
  }
  .commitments article p {
    font-size: var(--font-small);
  }
}
@media (min-width: 900px) {
}
/* COMMITMENT SECTION STYLE - DESKTOP VERSON */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  .commitment-team {
    padding: 8rem 2rem;
  }
  .commitment-team .commitment-wrapper {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 2rem;
  }
  .commitment-header {
    flex-direction: column;
    align-self: flex-start;
    gap: 0;
  }
  .commitment-team .btn {
    align-self: flex-start;
    margin: 0;
  }
  .commitment-team h2 {
    font-size: var(--heading-regular);
  }
}
/* COMMITMENT SECTION STYLE END */

/* PROPERTY LISTINGS SECTION STYLE START */
.tablet-version {
  display: none;
}
.desktop-version {
  display: none;
}
.property-listing {
  padding: 6rem 0;
}
.property-listing h2 {
  font-size: var(--heading-two);
  font-weight: var(--fw-regular);
  color: var(--grey-900);
}
.property-listing-text {
  font-size: var(--font-medium);
  color: var(--grey-500);
  margin-top: 2.4rem;
}
.property-images {
  margin: 5.6rem 0;
}
.property-image {
  position: relative;
}
.property-image-container {
  line-height: 0;
}
.property-listing .category-status {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}
.badge-icon-container {
  line-height: 0;
}
.property-listing .category-status .badge {
  background-color: var(--grey-900);
  color: var(--grey-25);
  font-size: var(--font-medium);
  font-weight: var(--fw-medium);
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.property-listing .badge.category {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.property-listing .information {
  padding: 1.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.property-listing .information h3 {
  font-size: var(--heading-three);
  font-weight: var(--fw-medium);
  color: var(--grey-900);
}
.property-listing .information .location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.property-listing .information .location .location-image-container {
  width: 1.8rem;
  line-height: 0;
}
.property-listing .information .location span {
  font-size: 1.2rem;
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}
.property-listing .information .price {
  font-size: var(--font-extra-large);
  font-weight: var(--fw-bold);
  color: var(--grey-900);
}
.property-listing .features {
  display: flex;
  gap: 4.5rem;
  border-top: 3px solid var(--grey-200);
  padding-top: 1.6rem;
}
.features-image-container {
  width: 2.4rem;
  height: 2.4rem;
}
.property-listing .features-details {
  font-size: var(--font-medium);
  color: var(--grey-500);
  padding-top: 0.8rem;
}
.property-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}
.property-listing button {
  display: block;
  margin: 0 auto;
}

/* TABLET VERSION - PROPERTY LISTINGS SECTION STYLE */
@media screen and (min-width: 868px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  .tablet-version {
    display: block;
  }
  .desktop-version {
    display: none;
  }
  .property-listings-text-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .property-listing-text {
    margin: 0;
  }
  .property-listing h2 {
    font-size: var(--heading-two-medium);
  }
  .property-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  .features > article {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .property-listing .features {
    gap: 1rem;
  }
  .property-listing .features-details {
    font-size: 1.3rem;
  }
  .features-image-container {
    width: 2rem;
    height: 2rem;
  }
}

/* DESKTION VERSION - PROPERTY LISTINGS STYLE */
@media screen and (min-width: 1025px) {
  .desktop-version {
    display: block;
  }
  .container {
    max-width: 1280px;
  }
  .property-listing h2 {
    font-size: var(--heading-regular);
  }
  .property-listings-text-block {
    gap: 2.4rem;
  }
  .property-images {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* PROPERTY LISTINGS SECTION STYLE END */

/* FAQ SECGTION - STYLING START */

section.faq {
  padding: 6rem 0;
}
.faq h2 {
  font-size: var(--heading-two);
  font-weight: var(--fw-regular);
  color: var(--grey-900);
  line-height: 1.3;
  margin-bottom: 2.4rem;
}
.faq-text {
  font-size: var(--font-medium);
  color: var(--grey-500);
}
section.faq .desktop-only {
  display: none;
}
.faq-questions {
  margin-top: 5.5rem;
}
.faq-questions .question:not(:last-of-type) {
  margin-bottom: 4rem;
}
.faq h3 {
  font-size: var(--font-large);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}
.question-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.5rem;
  margin-bottom: 1.6rem;
}
.faq .toggle-btn {
  width: 2rem;
  height: 2rem;
}
.faq-questions .answer {
  font-size: var(--font-medium);
  display: none;
  max-width: 800px;
  margin-right: 2rem;
}
.faq-questions .question.active {
  color: var(--grey-900);
}
.faq-questions .question.active h3 {
  font-weight: var(--fw-bold);
  color: var(--grey-900);
}
.faq-questions .question.active .answer {
  display: block;
}

/* TABLET VERSION - FAQ SECTION STYLING */
@media screen and (min-width: 868px) {
  .container {
    max-width: 1024px;
  }
}
/* DESKTOP VERSION - FAQ SECTION STYLING */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1280px;
  }
  section.faq .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.5rem;
  }
  .faq-questions {
    margin-top: 0;
  }
  .faq h2 {
    font-size: var(--heading-regular);
  }
  .faq-text {
    font-size: var(--font-extra-large);
    margin-bottom: 5.5rem;
  }
  section.faq .desktop-only {
    display: block;
  }
}

/* FAQ SECTION - STYLING END */

/* BLOG ARTILCLE SECTION START STYLING */

section.tips-tricks {
  padding: 6rem 0;
}
section.tips-tricks h2 {
  font-size: var(--heading-two);
  font-weight: var(--fw-regular);
  color: var(--grey-900);
  margin-bottom: 2.4rem;
}
.tips-tricks-text {
  font-size: var(--font-medium);
  color: var(--grey-500);
}
.tips-tricks .tips-tricks-listings {
  margin: 5.5rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}
.tips-tricks .tips-tricks-listings > article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.6rem;
}
.tips-tricks-listings > article img {
  border-radius: 10px;
}
.tips-tricks-listings .tips-tricks-desc .time p {
  font-size: 1.2rem;
  font-weight: var(--fw-medium);
  color: var(--grey-500);
  margin-bottom: 0.5rem;
}
.tips-tricks-listings .tips-tricks-desc .title h3 {
  font-size: var(--heading-three);
  font-weight: var(--fw-medium);
  color: var(--grey-900);
  line-height: 1.3;
}
.tips-tricks-listings .tips-tricks-desc .timer-icon-container {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 0;
}
.tips-tricks-listings .tips-tricks-desc .reading-time {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
}
.tips-tricks-listings .tips-tricks-desc .reading-time p {
  font-size: 1.2rem;
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}
.tips-tricks-control-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tips-tricks-control-btns .dotted-style {
  display: flex;
  gap: 0.8rem;
}
.tips-tricks-control-btns .dotted-style span {
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--grey-500);
  border-radius: 50%;
}
.tips-tricks-control-btns .dotted-style span.active {
  background-color: var(--grey-900);
  border-color: var(--grey-900);
}
.tips-tricks-control-btns .control-left,
.tips-tricks-control-btns .control-right {
  width: 4rem;
  height: 4rem;
  line-height: 0;
  cursor: pointer;
}

/* TABLET VERSION - SECTION BLOG ARTICLES STYLING */
@media screen and (min-width: 868px) {
  section.tips-tricks h2 {
    font-size: var(--heading-two-medium);
  }
  .tips-tricks .tips-tricks-listings {
    grid-template-columns: repeat(2, 1fr);
  }
  .tips-tricks .tips-tricks-listings .not-in-tablet-version {
    display: none;
  }
  .tips-tricks .tips-tricks-listings > article {
    grid-template-columns: 1fr;
  }
  .tips-tricks-desc {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 0.1fr auto;
    row-gap: 0.8rem;
  }
  .tips-tricks-desc .reading-time {
    grid-column: 2;
    grid-row: 1;
  }
  .tips-tricks-listings .tips-tricks-desc .title {
    grid-column: 1;
    grid-row: 2;
  }
  .tips-tricks-listings .tips-tricks-desc .time p {
    margin: 0;
  }
  .tips-tricks-listings .tips-tricks-desc .reading-time {
    margin: 0;
  }
  .tips-tricks-control-btns {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1rem;
  }
  .tips-tricks-control-btns .control-left {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }
  .tips-tricks-control-btns .control-right {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }
}

/* DESKTOP VERSION - TIPS AND TRICKS SECTION STYLING */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1280px;
  }
  .tips-tricks-text-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
  }
  section.tips-tricks h2 {
    font-size: var(--heading-regular);
    margin: 0;
  }
  .tips-tricks .tips-tricks-listings {
    grid-template-columns: repeat(3, 1fr);
  }
  .tips-tricks .tips-tricks-listings .not-in-tablet-version {
    display: block;
  }
  .tips-tricks .tips-tricks-listings > article {
    gap: 0;
  }
  .tips-tricks-desc {
    margin-top: 1.6rem;
  }
}
/* BLOG ARTICLE SECTION END STYLING */

/* CONTACT SECTION STYLING START */

section.contact {
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-image: url("../assets/contact/Contact\ Form.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 6rem 0;
  margin: 4rem 2rem;
  border-radius: 10px;
}
.contact h2 {
  font-size: var(--heading-two-medium);
  font-weight: var(--fw-medium);
  color: var(--grey-25);
  line-height: 1.2;
}
.contact-text {
  font-size: var(--font-medium);
  color: var(--grey-25);
  margin: 2.4rem 0;
}
.contact form {
  background-color: var(--grey-25);
  color: var(--grey-900);
  padding: 1.6rem;
  border-radius: 10px;
}
.contact form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.contact form .form-group label {
  font-size: var(--font-medium);
  font-weight: var(--fw-medium);
  color: var(--grey-900);
}
.contact form .form-group input,
.contact form .form-group textarea {
  font-size: var(--font-small);
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey-400);
  border-radius: 5px;
}
.contact form .btn {
  width: 100%;
  margin-top: 1rem;
}

/* TABLET VERSION CONTACT SECIOTN STYLING */
@media screen and (min-width: 868px) {
  .contact .container {
    max-width: 868px;
  }
  .contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5.5rem;
    align-items: start;
  }
  .contact h2 {
    font-size: 4.8rem;
  }
  section.contact {
    padding: 11rem 0;
  }
}

/* DESKTOP VERSION CONTACT SECTION STYLING */
@media screen and (min-width: 1024px) {
  .contact .container {
    max-width: 1280px;
  }
  .contact .container {
    grid-template-columns: 2fr 1fr;
    gap: 10rem;
  }
  .contact h2 {
    font-size: var(--heading-medium);
  }
  .contact-text {
    font-size: var(--font-extra-large);
  }
}

/* CONTACT SECTION STYLING END */

/* FOOTER SECTION STYLING START*/

footer {
  background-color: var(--grey-900);
  padding: 6rem 0;
}
footer h2 {
  font-size: var(--heading-two);
  font-weight: var(--fw-regular);
  color: var(--grey-25);
  margin-bottom: 3.2rem;
}

footer .enquiries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}
footer .enquiries .office {
  grid-column: 1 / span 2;
}
footer .enquiries h4 {
  font-size: var(--font-small);
  font-weight: var(--fw-medium);
  color: var(--grey-400);
  margin-bottom: 1.2rem;
}
footer .enquiries p {
  font-size: var(--font-medium);
  color: var(--grey-25);
}
footer .navigations {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
footer .navigations h4 {
  font-size: var(--font-medium);
  font-weight: var(--fw-regular);
  color: var(--grey-400);
  margin-bottom: 1rem;
}
footer .navigations ul {
  list-style-type: none;
}
footer .navigations li a {
  text-decoration: none;
  font-size: var(--font-medium);
  color: var(--grey-25);
}
footer .navigation ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  row-gap: 1rem;
}
footer .social-medias ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
footer .social-medias {
  margin-bottom: 4rem;
}
footer hr {
  border: none;
  height: 2px;
  background-color: var(--grey-500);
}

footer .copy-right-section .logo-icon {
  width: 2.4rem;
  height: 2.4rem;
  line-height: 0;
}
footer .copy-right-section .logo-text {
  font-size: var(--font-extra-large);
  font-weight: var(--fw-black);
  color: var(--grey-25);
}
footer .copy-right-section .logo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
footer .copy-right-section .copy-right-text {
  font-size: var(--font-small);
  font-weight: var(--fw-medium);
  color: var(--grey-500);
}
footer .back-to-top {
  font-size: var(--font-small);
  font-weight: var(--fw-medium);
  color: var(--grey-25);
}
footer .top-icon-container {
  width: 1.4rem;
  height: 1.2rem;
  line-height: 0;
}
footer .back-to-top-btn-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
footer .copy-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
  gap: 2.4rem;
}

/* TABLET VERSION - FOOTER SECTION STYLING */
@media screen and (min-width: 868px) {
  .container {
    max-width: 1024px;
  }
  footer .quiries {
    display: flex;
    gap: 3rem;
  }
  footer .copy-right-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* DESKTOP VERSION - FOOTER SECTION STYLING */
@media screen and (min-width: 1025px) {
  .container {
    max-width: 1280px;
  }
  footer .quiries {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 10rem;
  }
  footer .enquiries {
    grid-template-columns: 150px 150px 250px;
  }
  footer .enquiries .office {
    grid-column: 3;
  }
  footer .navigations {
    flex-direction: row;
    justify-self: end;
  }
  footer .navigation ul {
    column-gap: 3rem;
  }
  footer .social-medias ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

/* FOOTER SECTION STYLING END */
