/* import header css from the home's header css */
@import url("../home/header.css");

header {
  position: initial;
}
.main-nav .logo span:last-child {
  color: var(--grey-900);
}

.main-nav .btn-cta {
  color: var(--grey-25);
  background-color: var(--grey-900);
}
.main-nav .btn-cta a {
  text-decoration: none;
  color: var(--grey-25);
}
.main-nav .nav-items a {
  color: var(--grey-500);
}
